@import "~bootstrap";

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick", "~slick-carousel/slick/slick-theme";

@import "./assets/scss/main.css";
@import "./assets/scss/main";
@import "./assets/scss/fonts";
@import "./assets/scss/vars";
@import "./assets/scss/media";

* {
    box-sizing: border-box;
}


//ul, li {
//    margin: 0;
//    padding: 0;
//    list-style-type: none;
//}

